/* base */
body{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
#home{
    background-color: #fff;
}

.logo{
    font-family:'Style Script', cursive;
}

.title{
    padding-top: 50px;
    text-align: center;
}
/* about */
#about{
    height: 500px;
    background-image: url("../imagen/bghistorycoffe.jpg");
    background-position: 70% 50%;
    background-size: cover;
    color:#fff;   
}
.left{
    margin-top: 50px;
    color:#565048 ;
    float: right;
    width: 50%;
    height: 500px;

}

/* service */
#service{
    background-color: #F0E5D5;
}
.row{   
    margin-top: 30px;
}

.card{
    color:#565048;
    background-color:#fff;
    transition: 1s ease;
}
.card:hover{
 background-color:rgb(63, 38, 5);
 transform: translateY(-1.5em);
 color: white;
 
}
.card .h4{
    transition-delay:0.5s ease;
}
.card p{
    transition-delay: 0.1s ease;
}

/* GALERIA */

.coffee{
    margin: 5px;
    width: 200px;
    height: 150px;

}
button{
    background-color: #565048;
    color: #fff;
    padding: 4px 12px;
    margin: 10px;
    border-radius: 10px;
}

/*-------- footer ------*/
footer{
    padding: 50px 0;
    color:#fff;
    background: #F69C1A ;
    
}
footer h3{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}
footer ul{
    padding: 0;
    list-style: none;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 0;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:link{
    text-decoration: none;

}
footer a:hover{
    text-decoration: none;
    color: #fff;
}
footer a:visited{
text-decoration: none;
}

.social{
    text-align: end;
    margin-right: 100px;

}
.social a{
 display: inline-block;
 width: 30px;
 
}
.social i{
    color: cornsilk;
}
.copyright{
    margin-top: 50px;
    text-align: center;
}
footer{
    margin-top: 80px;
}