/* base */
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 list-style: none;
}
body{
    background-color: #FFFBF2;

}

.logo{
    font-size: 34px;
    margin: 5px 12px;
    font-family:'Style Script', cursive;
  
}

.title{
    padding-top: 50px;
    text-align: center;
}
h4 {
    color :#33211D;
    font-weight: bold;
}
/* nav---- */
.navbar-nav{
    text-align: center;
}
.nav-link{

    font-size: 24px;
    font-weight: 500;
}
.section-title {
    text-align: center;
}
/* service */
.service-icon {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    color: #33211D;
    background-color: #DA9F5B;
}

/* selo */
#selo{
    background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(26, 12, 4, 0.925)),
    url("../imagen/bg.jpg") ;
    background-size: cover;
    padding: 50px;
   
}
/* GALERIA */

.coffee{
    margin: 5px;
    width: 200px;
    height: 150px;

}
button{
    background-color: #DA9F5B;
    color: #33211D;
    padding: 4px 12px;
    margin: 10px;
    border-radius: 10px;
}

/*-------- footer ------*/
footer{
    padding: 50px 0;
    color:#fff;
    background: linear-gradient(rgba(0, 0, 0, 0.815), rgba(26, 12, 4, 0.925)),
    url("../imagen/bg.jpg") ;
    background-size: cover;
    opacity: 0,1;
  
    
}
footer h3{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}
footer ul{
    padding: 0;
    list-style: none;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 0;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:link{
    text-decoration: none;

}
footer a:hover{
    text-decoration: none;
    color: #fff;
}
footer a:visited{
text-decoration: none;
}

.social{
    text-align: end;
    margin-right: 100px;

}
.social a{
 display: inline-block;
 width: 30px;
 
}
.social i{
    color: cornsilk;
}
.copyright{
    margin-top: 50px;
    text-align: center;
}
footer{
    margin-top: 80px;
}


/*----- media  ----*/

@media (max-width:700px){
    #about{
        width: 100%;
         height: auto;
    }
    .left{
        width:80%;
        margin-right:30px ;
        
    }
    .coffee{
        width: 80%;
    }
    

}
